.u-tableW100 {
    width: 100%;
}

.u-tableW90 {
    width: 90%;
}

.u-tableW80 {
    width: 80%;
}

.u-tableW75 {
    width: 75%;
}

.u-tableW70 {
    width: 70%;
}

.u-tableW60 {
    width: 60%;
}

.u-tableW50 {
    width: 50%;
}

.u-tableW40 {
    width: 40%;
}

.u-tableW34 {
    width: 34%;
}

.u-tableW33 {
    width: 33%;
}

.u-tableW30 {
    width: 30%;
}

.u-tableW25 {
    width: 25%;
}

.u-tableW20 {
    width: 20%;
}

.u-tableW10 {
    width: 10%;
}

.u-tableW5 {
    width: 5%;
}
