* {
    box-sizing: border-box;
}

html {
    font: 400 1em "Source Sans Pro", sans-serif;
    text-rendering: optimizeLegibility;
    background-color: rgb(245, 245, 245);
    color: rgb(0, 102, 102);
}

a {
    color: rgb(0, 133, 132);
    text-decoration: none;
    border-bottom: 1px dashed rgb(0, 133, 132);
}

a:focus,
a:hover {
    border-bottom: 1px solid rgb(0, 133, 132);
}