.Grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.Grid-cell {
    flex: 1 0 15em;
    margin: 1em 0 0 1em;
}

.Grid-full {
    flex: 0 0 100%;
    margin: 1em 0 0 1em;
}

.Grid--gutters {
    margin: -1em 0 0 -1em;
}