.InputCombo {
    display: flex;
    align-items: stretch;
}

.InputCombo-label {
    background-color: rgb(233, 233, 233);
    white-space: nowrap;
}

.InputCombo-field {
    flex: 1;
}

textarea.InputCombo-field,
select.InputCombo-field {
    resize: vertical;
    min-height: 7.5em;
}

select.InputCombo-field {
    overflow: auto;
}

.InputCombo-label,
.InputCombo-field {
    border: 1px solid rgb(0, 102, 102);
    padding: 0.5em 0.75em;
}

.InputCombo-field {
    border-left: 0;
}

.InputCombo-unstyled {
    margin-left: 1em;
    flex: none;
    align-self: center;
}
